* {
  outline: 0;
  font-family: sans-serif
}

body {
  background-color: #fafafa
}

span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}

.container {
  width: 500px;
  margin: 50px auto 0;
  text-align: center
}

.dropdown-menu {
  background-color: aqua;
  max-height: 1;
  /* Initially hidden */
  overflow: hidden;
  transition: 0.5s;
  /* Adjust timing as needed */
}

.dropdown-menu .open {
  max-height: 200px;
  /* Adjust the maximum height according to your content */
}